.App {
  max-width: 1024px;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: sans-serif;

  .currency {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-row__item {
      flex: 1 1 0%;
      margin: 10px;
      display: flex;
      align-items: center;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
