body {
  margin: 0;
  background: linear-gradient(
    to right,
    #27c6ec,
    #19bce9,
    #12b1e5,
    #16a7e0,
    #209cdb
  );
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: sans-serif;

  height: 90vh;
  width: 100vw;

  .currency {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--middle {
      display: flex;
      min-width: 20%;
      justify-content: space-around;
    }
    &-row__item {
      flex: 1 1 0%;
      margin: 30px;
      display: flex;
      align-items: flex-start;

      &--left {
        justify-content: flex-end;
        flex: 2 1 0%;
      }
    }

    &__select {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 75px;
      min-width: 150px;

      text-align: right;
    }

    &__bar {
      display: flex;
      align-items: center;
      color: darken(#209cdb, 10%);
      background: white;
      border-radius: 50px;
      border: 3px solid darken(#209cdb, 10%);
      padding: 10px;

      &__text {
        margin-left: 10px;
      }
    }

    &__switch-currency {
      margin: 0 20px;
    }
  }

  .balance {
    font-size: 1rem;
    color: #f3f4f5;
    font-style: italic;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .header {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 0px 10px;
    width: 100%;
    position: absolute;
    top: 20px;
  }
}
